*{
    
    box-sizing: border-box;
}
body{
    background-color : rgb(130, 141, 170);
    background-size: cover;
}

@font-face {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/museomoderno/v1/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMv9DiesQjA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  @font-face {
    font-family: 'Nanum Pen Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nanum Pen'), local('NanumPen'), url(https://fonts.gstatic.com/s/nanumpenscript/v15/daaDSSYiLGqEal3MvdA_FOL_3FkN2zuWfsNNAlvx8XyriiBoA4Qt-85VRg.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
  }

header{
    color : white;
    font-size : 35px;
    font-family: 'Indie Flower';
    text-align: center;
    background-color: rgb(112, 121, 145);
    padding: 25px 0px;
}

#maker {
    text-align: center;
    margin-top: 450px;
    margin-bottom:300px;
    margin-left :10px;
    position : fixed;
    border: 3px solid white; 
}

#maker .info {
    display: inline-block;
    color:rgb(207, 218, 247);
    width: 150px;

}

article {
    font-family: 'MuseoModerno';
    text-align: center;
    color: rgb(226, 231, 245);
}
article h2{
    color: rgb(3, 17, 56);
}
article p{
    font-family: 'Nanum Pen Script';
    font-size:20px;
    color: rgb(226, 231, 245);

}

.grid {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: repeat(2, 420px);
    grid-gap:0px 0px;
    grid-auto-rows: 400px;

    justify-items: center;
    justify-content: center;
    margin-bottom : 50px;
    margin-top : 20px;
    text-align: center;

  }
  
  .box {
    color: black;
    border-radius: 5px;
    width :400px;   
  }

  .box img{    
    padding-left: px;
    padding-top: 5px;
    margin-bottom: 10px;
    width: 390px;
    height: 250px;
  }

  .box h4{
    margin-top:10px;
    font-family: 'MuseoModerno';
    color: rgb(3, 17, 56);

  }
  .box p{
    font-family: 'Nanum Pen Script';
    font-size:20px;
    color:rgb(226, 231, 245);
  }

  footer{
    text-align: center;
    line-height: 0.4;
      color:black;
      height: 105px;
      background-color: rgb(112, 121, 145);
    }